// 定义颜色规范
$color-yellow = #FEC171
$color-blue = #324157
$color-light-blue = #3A71A8
$color-red = #C03639
$color-pink = #E65D6E
$color-green = #30B08F
$color-tiffany = #4AB7BD
$color-pan-green = #30B08F
$color-white = #fff
$color-text-d = rgba(0, 0, 0, 0.8)
$color-text-l = rgba(0, 0, 0, 0.5)
$color-text-ll = rgba(0, 0, 0, 0.3)
$color-text-hot = #f95a5a
$color-background = #f0f2f5
// 定义字体规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
// 定义tabbar高度
$header-height = 52px
$tabbar-height = 62px